.FounderGuaranteeItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px;

    background: #fafafa;
    border-radius: 8px;
}

.FounderGuaranteeItem__Image {
    position: static;
    width: 309px;
    height: 202px;
    left: 16px;
    top: 16px;
}

.FounderGuaranteeItem__Heading {
    position: static;
    width: 309px;
    height: 26px;
    left: calc(50% - 309px/2);
    top: 0px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;

    color: #333333;
    font-family: Gordita;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
}

.FounderGuaranteeItem__Text {
    position: static;
    width: 309px;
    height: 363px;
    left: calc(50% - 309px/2);
    top: 34px;

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    margin: 8px 0px;

    color: #333333;
    font-family: Gordita;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
}

.SignatureImageContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SignatureImage {
    position: absolute;
    background: url();
}